<body>
  <div class="screen-overlay"></div>
  <aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
      <a href="index.html" class="brand-wrap">
        <img src="assets/imgs/theme/logo.svg" class="logo" alt="Nest Dashboard" />
      </a>
      <div>
      </div>
    </div>
  </aside>
  <main class="main-wrap">
    <header class="main-header navbar">
      <div class="col-search">
        <form class="searchform">
          <div class="input-group">
          </div>
        </form>
      </div>
      <div class="col-nav">
      </div>
    </header>
    <section class="content-main">
      <section>
        <button type="button" (click)="updateStream()">
          Trigger
        </button>
      </section>
      <div class="content-header">
        <div>
          <h2 class="content-title card-title">Order List</h2>
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div>
          <input type="text" placeholder="Search order ID" class="form-control bg-white" />
        </div>
      </div>
      <div class="card mb-4">
        <header class="card-header">
          <div class="row gx-3">
            <div class="col-lg-4 col-md-6 me-auto">
              <input type="text" placeholder="Search..." class="form-control" />
            </div>
            <div class="col-lg-2 col-6 col-md-3">
              <select class="form-select">
                <option>Status</option>
                <option>Active</option>
                <option>Disabled</option>
                <option>Show all</option>
              </select>
            </div>
            <div class="col-lg-2 col-6 col-md-3">
              <select class="form-select">
                <option>Show 20</option>
                <option>Show 30</option>
                <option>Show 40</option>
              </select>
            </div>
          </div>
        </header>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Total</th>
                  <th scope="col">Status</th>
                  <th scope="col">Date</th>
                  <th scope="col" class="text-end">Action</th>
                </tr>
              </thead>
              <!-- <tbody *ngIf="orders$ | async as orders"> -->
              <tbody>
                <tr *ngFor="let order of orders; index as index; let isFirst = first; let isOdd = odd">
                  <td>{{order.id}}</td>
                  <td>
                    <!-- [id]="index + 'sdfds'"  -->
                    <div [appHightLight]="isOdd ? 'blue' : 'red' " [text]="order.name"   > 
                      {{order.name}}
                    </div>
                    <!-- <app-hight-light [text]="order.name" [textColor]=" isOdd ? 'blue' : 'red' "  ></app-hight-light> -->
                  </td>
                  <td>{{order.email}}</td>
                  <td>{{order.total | currency :'VND' :'symbol':'4.2-2' }} </td>
                  <!-- <td>{{order.total | currencyFormation  }} </td> -->
                  <!-- <td>
                    {{order.formationTotal}}
                  </td> -->
                  <td>
                    <span *ngIf=" (order.status === 'Pending') "
                      class="badge rounded-pill alert-warning">{{order.status}}</span>
                    <span *ngIf=" (order.status === 'Canceled') "
                      class="badge rounded-pill alert-danger">{{order.status}}</span>
                    <span *ngIf=" (order.status === 'Received') "
                      class="badge rounded-pill alert-success">{{order.status}}</span>
                  </td>
                  <!-- <td>{{order.date}}</td> -->
                  <td>
                    {{order.date | formatDate : 'MM.DD.YYYY'}}
                  </td>
                  <!-- <td>
                    {{order.date | date: 'dd.MM.yyyy' }}
                  </td> -->
                  <td class="text-end">
                    <a [routerLink]="[order.id]" class="btn btn-md rounded font-sm">Detail</a>
                    <!-- <div class="dropdown">
                      <a [routerLink]="[]" class="btn btn-light rounded btn-sm font-sm"> <i
                          class="material-icons md-more_horiz"></i> </a>
                      <div class="dropdown-menu show">
                        <a class="dropdown-item" [routerLink]="[]">View detail</a>
                        <a class="dropdown-item" [routerLink]="[]">Edit info</a>
                        <a class="dropdown-item text-danger" [routerLink]="[]">Delete</a>
                      </div>
                    </div> -->
                    <!-- dropdown //end -->
                  </td>
                  <!-- <td class="text-end">
                      <a href="#" class="btn btn-md rounded font-sm">Detail</a>
                      <div class="dropdown">
                      </div>
                    </td> -->
              </tbody>
            </table>
          </div>
        </div>

      </div>
      <!-- card end// -->
      <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-start">
            <li class="page-item active"><a class="page-link" href="#">01</a></li>
            <li class="page-item"><a class="page-link" href="#">02</a></li>
            <li class="page-item"><a class="page-link" href="#">03</a></li>
            <li class="page-item"><a class="page-link dot" href="#">...</a></li>
            <li class="page-item"><a class="page-link" href="#">16</a></li>
            <li class="page-item">
              <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
            </li>
          </ul>
        </nav>
      </div>
    </section>
    <!-- content-main end// -->
    <footer class="main-footer font-xs">
      <div class="row pb-30 pt-15">
        <div class="col-sm-6">
          <!-- <script>
              document.write(new Date().getFullYear());
            </script>2023 -->
          © Nest - HTML Ecommerce Template .
        </div>
        <div class="col-sm-6">
          <div class="text-sm-end">All rights reserved</div>
        </div>
      </div>
    </footer>
  </main>

</body>