<body>
  <aside class="navbar-aside">
    <div class="aside-top">
      <a href="index.html" class="brand-wrap">
        <img src="assets/imgs/theme/logo.svg" class="logo" alt="Nest Dashboard">
      </a>
    </div>
    <nav>
      <ul class="menu-aside">
        <li class="menu-item active">
          <a class="menu-link" href="index.html">
            <i class="icon material-icons md-home"></i>
            <span class="text">Dashboard</span>
          </a>
        </li>
        <li class="menu-item has-submenu">
          <a class="menu-link" href="page-products-list.html">
            <i class="icon material-icons md-shopping_bag"></i>
            <span class="text">Products</span>
          </a>
          <div class="submenu">
            <a href="page-products-list.html">Product List</a>
            <a href="page-products-grid.html">Product grid</a>
            <a href="page-products-grid-2.html">Product grid 2</a>
            <a href="page-categories.html">Categories</a>
          </div>
        </li>
        <li class="menu-item has-submenu">
          <a class="menu-link" href="page-orders-1.html">
            <i class="icon material-icons md-shopping_cart"></i>
            <span class="text">Orders</span>
          </a>
          <div class="submenu">
            <a href="page-orders-1.html">Order list 1</a>
            <a href="page-orders-2.html">Order list 2</a>
            <a href="page-orders-detail.html">Order detail</a>
          </div>
        </li>
        <li class="menu-item has-submenu">
          <a class="menu-link" href="page-sellers-cards.html">
            <i class="icon material-icons md-store"></i>
            <span class="text">Sellers</span>
          </a>
          <div class="submenu">
            <a href="page-sellers-cards.html">Sellers cards</a>
            <a href="page-sellers-list.html">Sellers list</a>
            <a href="page-seller-detail.html">Seller profile</a>
          </div>
        </li>
        <li class="menu-item has-submenu">
          <a class="menu-link" href="page-form-product-1.html">
            <i class="icon material-icons md-add_box"></i>
            <span class="text">Add product</span>
          </a>
          <div class="submenu">
            <a href="page-form-product-1.html">Add product 1</a>
            <a href="page-form-product-2.html">Add product 2</a>
            <a href="page-form-product-3.html">Add product 3</a>
            <a href="page-form-product-4.html">Add product 4</a>
          </div>
        </li>
        <li class="menu-item has-submenu">
          <a class="menu-link" href="page-transactions-1.html">
            <i class="icon material-icons md-monetization_on"></i>
            <span class="text">Transactions</span>
          </a>
          <div class="submenu">
            <a href="page-transactions-1.html">Transaction 1</a>
            <a href="page-transactions-2.html">Transaction 2</a>
          </div>
        </li>
        <li class="menu-item has-submenu">
          <a class="menu-link" href="#">
            <i class="icon material-icons md-person"></i>
            <span class="text">Account</span>
          </a>
          <div class="submenu">
            <a href="page-account-login.html">User login</a>
            <a href="page-account-register.html">User registration</a>
            <a href="page-error-404.html">Error 404</a>
          </div>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="page-reviews.html">
            <i class="icon material-icons md-comment"></i>
            <span class="text">Reviews</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="page-brands.html">
            <i class="icon material-icons md-stars"></i>
            <span class="text">Brands</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" disabled="" href="#">
            <i class="icon material-icons md-pie_chart"></i>
            <span class="text">Statistics</span>
          </a>
        </li>
      </ul>
      <hr>
      <ul class="menu-aside">
        <li class="menu-item has-submenu">
          <a class="menu-link" href="#">
            <i class="icon material-icons md-settings"></i>
            <span class="text">Settings</span>
          </a>
          <div class="submenu">
            <a href="page-settings-1.html">Setting sample 1</a>
            <a href="page-settings-2.html">Setting sample 2</a>
          </div>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="page-blank.html">
            <i class="icon material-icons md-local_offer"></i>
            <span class="text"> Starter page </span>
          </a>
        </li>
      </ul>
      <br>
      <br>
    </nav>
  </aside>
  <main class="main-wrap">
    <header class="main-header"></header>
    <section class="content-main">
      <div class="content-header">
        <div>
          <h2 class="content-title card-title">Order Detail</h2>
          <p>Details for Order ID:{{order.id}}</p>
        </div>
      </div>
      <div class="card mb-4">
        <header class="card-header">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                <span> <i class="material-icons md-calendar_today"></i> <b>Wed, Aug 13, 2020, 4:34PM</b> </span> <br>
                <small class="text-muted">Order ID:{{order.id}}</small>
            </div>
            <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                <select class="form-select d-inline-block mb-lg-0 mr-5 mw-200">
                    <option>Change status</option>
                    <option>Awaiting payment</option>
                    <option>Confirmed</option>
                    <option>Shipped</option>
                    <option>Delivered</option>
                </select>
                <a class="btn btn-primary" href="#">Save</a>
                <a class="btn btn-secondary print ms-2" href="#"><i class="icon material-icons md-print"></i></a>
            </div>
        </div>
        </header>
        <!-- card-header end// -->
        <div class="card-body">

        </div>
        <!-- card-body end// -->
      </div>
      <!-- card end// -->
      <div class="pagination-area mt-30 mb-50">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-start">
            <li class="page-item active"><a class="page-link" href="#">01</a></li>
            <li class="page-item"><a class="page-link" href="#">02</a></li>
            <li class="page-item"><a class="page-link" href="#">03</a></li>
            <li class="page-item"><a class="page-link dot" href="#">...</a></li>
            <li class="page-item"><a class="page-link" href="#">16</a></li>
            <li class="page-item">
              <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
            </li>
          </ul>
        </nav>
      </div>
    </section>
  </main>
</body>