<aside class="navbar-aside">
  <div class="aside-top">
    <a href="index.html" class="brand-wrap">
      <img src="assets/imgs/theme/logo.svg" class="logo" alt="Nest Dashboard">
    </a>
  </div>
  <nav>
    <ul class="menu-aside">
      <li class="menu-item active">
        <a class="menu-link" href="index.html">
          <i class="icon material-icons md-home"></i>
          <span class="text">Dashboard</span>
        </a>
      </li>
      <li class="menu-item">
        <label class="dropdown ">
          <a class="menu-link">
            <i class="icon material-icons md-home"></i>
            <span class="text">Products</span>
          </a>
          <!-- <div class="text">
            Dropdown
          </div> -->
          <input type="checkbox" class="dd-input">
          <ul class="dd-menu">
            <li>
              <a [routerLink]="['/products/create']">Create Product</a>
            </li>
            <li>
              <a [routerLink]="['/products/list']">Product List</a>
            </li>
            <li>
              <a [routerLink]="['/products/edit']">Edit Product</a>
            </li>
          </ul>
        </label>
      </li>
      <li class="menu-item">
        <a class="menu-link" (click)="toggleMenu()">
          <i class="icon material-icons md-shopping_cart"></i>
          <span class="text">Orders</span>
        </a>
        <ul class="menu123" [class.menu-active]="isMenuOpen" [routerLink]="['/order']" routerLinkActive="active">
          <li><a routerLinkActive="active" [routerLink]="['/order/create']">Create Order</a></li>
          <li><a routerLinkActive="active" [routerLink]="['/order/list']">Orders List</a></li>
          <li><a routerLinkActive="active" [routerLink]="['/order/detail']">Order Detail</a></li>
        </ul>
      </li>
      <!-- <li class="menu-item has-submenu">
        <a class="menu-link" href="page-products-list.html">
          <i class="icon material-icons md-shopping_bag"></i>
          <span class="text">Products</span>
        </a>
        <div class="dd-menu">
          <a href="page-products-list.html">Product List</a>
          <a href="page-products-grid.html">Product grid</a>
          <a href="page-products-grid-2.html">Product grid 2</a>
          <a href="page-categories.html">Categories</a>
        </div>
      </li> -->
      
      
   
      <li class="menu-item has-submenu">
        <a class="menu-link" href="page-transactions-1.html">
          <i class="icon material-icons md-monetization_on"></i>
          <span class="text">Transactions</span>
        </a>
        <div class="submenu">
          <a href="page-transactions-1.html">Transaction 1</a>
          <a href="page-transactions-2.html">Transaction 2</a>
        </div>
      </li>
      <li class="menu-item has-submenu">
        <a class="menu-link" href="#">
          <i class="icon material-icons md-person"></i>
          <span class="text">Account</span>
        </a>
        <div class="submenu">
          <a href="page-account-login.html">User login</a>
          <a href="page-account-register.html">User registration</a>
          <a href="page-error-404.html">Error 404</a>
        </div>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="page-reviews.html">
          <i class="icon material-icons md-comment"></i>
          <span class="text">Reviews</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="page-brands.html">
          <i class="icon material-icons md-stars"></i>
          <span class="text">Brands</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" disabled="" href="#">
          <i class="icon material-icons md-pie_chart"></i>
          <span class="text">Statistics</span>
        </a>
      </li>
    </ul>
    <hr>
    <ul class="menu-aside">
      <li class="menu-item has-submenu">
        <a class="menu-link" href="#">
          <i class="icon material-icons md-settings"></i>
          <span class="text">Settings</span>
        </a>
        <div class="submenu">
          <a href="page-settings-1.html">Setting sample 1</a>
          <a href="page-settings-2.html">Setting sample 2</a>
        </div>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="page-blank.html">
          <i class="icon material-icons md-local_offer"></i>
          <span class="text"> Starter page </span>
        </a>
      </li>
    </ul>
    <br>
    <br>
  </nav>
</aside>