<div>
  <div>
    <h4>Skills:</h4>
  </div>
  <form [formGroup]="formSkill">
    <div>
      <label
        [ngClass]="{ 'is-error': isSubmit && formSkill.get('name').errors }"
        >Name:</label
      >
      <input
        type="text"
        [ngClass]="{ 'is-invalid': isSubmit && formSkill.get('name').errors }"
        formControlName="name"
      />
      <div style="color: red" *ngIf="isSubmit">Name is error</div>
    </div>
    <div>
      <label [ngClass]="{ 'is-error': isSubmit && formSkill.get('exp').errors }"
        >Exp</label
      >
      <input
        type="number"
        [ngClass]="{ 'is-invalid': isSubmit && formSkill.get('exp').errors }"
        formControlName="exp"
      />
    </div>
  </form>
</div>
