<body>
  <aside class="navbar-aside">
    <div class="aside-top">
      <a href="index.html" class="brand-wrap">
        <img src="assets/imgs/theme/logo.svg" class="logo" alt="Nest Dashboard">
      </a>
    </div>
    <nav>
      <ul class="menu-aside">
        <li class="menu-item active">
          <a class="menu-link" href="index.html">
            <i class="icon material-icons md-home"></i>
            <span class="text">Dashboard</span>
          </a>
        </li>
        <li class="menu-item has-submenu">
          <a class="menu-link" href="page-products-list.html">
            <i class="icon material-icons md-shopping_bag"></i>
            <span class="text">Products</span>
          </a>
          <div class="submenu">
            <a href="page-products-list.html">Product List</a>
            <a href="page-products-grid.html">Product grid</a>
            <a href="page-products-grid-2.html">Product grid 2</a>
            <a href="page-categories.html">Categories</a>
          </div>
        </li>
        <li class="menu-item has-submenu">
          <a class="menu-link" href="page-orders-1.html">
            <i class="icon material-icons md-shopping_cart"></i>
            <span class="text">Orders</span>
          </a>
          <div class="submenu">
            <a href="page-orders-1.html">Order list 1</a>
            <a href="page-orders-2.html">Order list 2</a>
            <a href="page-orders-detail.html">Order detail</a>
          </div>
        </li>
        <li class="menu-item has-submenu">
          <a class="menu-link" href="page-sellers-cards.html">
            <i class="icon material-icons md-store"></i>
            <span class="text">Sellers</span>
          </a>
          <div class="submenu">
            <a href="page-sellers-cards.html">Sellers cards</a>
            <a href="page-sellers-list.html">Sellers list</a>
            <a href="page-seller-detail.html">Seller profile</a>
          </div>
        </li>
        <li class="menu-item has-submenu">
          <a class="menu-link" href="page-form-product-1.html">
            <i class="icon material-icons md-add_box"></i>
            <span class="text">Add product</span>
          </a>
          <div class="submenu">
            <a href="page-form-product-1.html">Add product 1</a>
            <a href="page-form-product-2.html">Add product 2</a>
            <a href="page-form-product-3.html">Add product 3</a>
            <a href="page-form-product-4.html">Add product 4</a>
          </div>
        </li>
        <li class="menu-item has-submenu">
          <a class="menu-link" href="page-transactions-1.html">
            <i class="icon material-icons md-monetization_on"></i>
            <span class="text">Transactions</span>
          </a>
          <div class="submenu">
            <a href="page-transactions-1.html">Transaction 1</a>
            <a href="page-transactions-2.html">Transaction 2</a>
          </div>
        </li>
        <li class="menu-item has-submenu">
          <a class="menu-link" href="#">
            <i class="icon material-icons md-person"></i>
            <span class="text">Account</span>
          </a>
          <div class="submenu">
            <a href="page-account-login.html">User login</a>
            <a href="page-account-register.html">User registration</a>
            <a href="page-error-404.html">Error 404</a>
          </div>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="page-reviews.html">
            <i class="icon material-icons md-comment"></i>
            <span class="text">Reviews</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="page-brands.html">
            <i class="icon material-icons md-stars"></i>
            <span class="text">Brands</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" disabled="" href="#">
            <i class="icon material-icons md-pie_chart"></i>
            <span class="text">Statistics</span>
          </a>
        </li>
      </ul>
      <hr>
      <ul class="menu-aside">
        <li class="menu-item has-submenu">
          <a class="menu-link" href="#">
            <i class="icon material-icons md-settings"></i>
            <span class="text">Settings</span>
          </a>
          <div class="submenu">
            <a href="page-settings-1.html">Setting sample 1</a>
            <a href="page-settings-2.html">Setting sample 2</a>
          </div>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="page-blank.html">
            <i class="icon material-icons md-local_offer"></i>
            <span class="text"> Starter page </span>
          </a>
        </li>
      </ul>
      <br>
      <br>
    </nav>
  </aside>
  <main class="main-wrap">
    <header class="main-header"></header>
    <section class="content-main">
      <div>
        <form class="row" [formGroup]="product4Form" (ngSubmit)="onSubmit()">
          <div class="col-9">
            <div class="content-header">
              <h2>Add New Product</h2>
              <div>
                <button class="btn btn-light rounded font-sm mt-5 text-body hover-up" type="button">Save to
                  draft</button>
                <button class="btn btn-md rounded font-sm hover-up" type="submit">Publich</button>
              </div>
            </div>
          </div>
          <div class="col-9">
            <div class="card">
              <div class="card-body">
                <div class="row gx-5">
                  <aside class="col-lg-3 border-end">
                    <nav class="nav nav-pills flex-column mb-4">
                      <a class="nav-link active" href="#">General</a>
                      <a class="nav-link" href="#">Category info</a>
                      <a class="nav-link" href="#">Pricing</a>
                      <a class="nav-link" href="#">Images</a>
                      <a class="nav-link" href="#">SEO keywords</a>
                      <a class="nav-link" href="#">Related items</a>
                    </nav>
                  </aside>
                  <div class="col-lg-9">
                    <section></section>
                    <div class="row mb-4">
                      <label  class="col-form-label">
                        <span class="form-label">Product name*</span>
                        <input type="text" placeholder="Type here" formControlName="title" class="form-control"
                          [ngClass]="{'is-invalid' : isSubmit && product4Form.get('title').errors }">
                      </label>
                    </div>
                    <div class="row mb-4">
                      <label >
                        <span class="form-label"
                          [ngClass]="{'is-error': isSubmit && product4Form.get('description').errors}">Description*</span>
                          <div class="col-lg-9">
                            <textarea class="form-control"
                          [ngClass]="{'is-invalid': isSubmit && product4Form.get('description').errors}" rows="4"
                          placeholder="Type here" formControlName="description"></textarea>
                          </div>
                      </label>
                    </div>
                    <div class="row mb-4">
                      <label  >
                        <span class="form-label"
                          [ngClass]="{'is-error': isSubmit && product4Form.get('brand').errors }">Brand</span>
                          <div class="col-lg-4">
                            <small class="text-muted font-sm mb-10">Multiselect: Cmd+click</small>
                          <select multiple="" size="4" class="form-control select-multiple">
                            <option>Adidas</option>
                            <option>Puma</option>
                            <option>Apple</option>
                            <option>Toyota</option>
                            <option>Toshiba</option>
                            <option>Artel</option>
                          </select>
                          </div>
                      </label>
                    </div>
                    <div class="row mb-4">
                      <label  class="col-form-label">
                        <span class="form-label">Tax ID</span>
                        <input type="number" placeholder="123456789" formControlName="title" class="form-control"
                          [ngClass]="{'is-invalid' : isSubmit && product4Form.get('title').errors }">
                      </label>
                    </div>
                    <div class="row mb-4">
                      <label  class="col-form-label">
                        <span class="form-label">Related tags</span>
                        <input type="text" placeholder="Type here" formControlName="title" class="form-control"
                          [ngClass]="{'is-invalid' : isSubmit && product4Form.get('title').errors }">
                      </label>
                    </div>
                    <div class="row mb-4">
                      <label class="col-lg-3 col-form-label">
                        <span class="form-label">Status</span>
                      </label>
                      <div >
                        <label class="form-check">
                          <input 
                          class="form-check-input"
                          type="checkbox" 
                          >
                          <span class="form-label">Enable this product</span>
                        </label>
                      </div>
                    </div>
                    <br>
                    <button class="btn btn-primary" type="button">Continue to next</button>
                  </div>
                </div>
              </div>
            </div>
            
          </div>

        </form>
      </div>
    </section>
  </main>
</body>