<div>
  <div>
    <h4>Address</h4>
  </div>
  <div>
    <form [formGroup]="formAddress">
      <div>
        <label
          [ngClass]="{
            'is-error': isSubmit && formAddress.get('street').errors
          }"
          >
        <span>
          Street
        </span>  
        <input
        type="text"
        class="form-control"
        [ngClass]="{
          'is-invalid': isSubmit && formAddress.get('street').errors
        }"
        formControlName="street"
      /></label
        >
        <div
          style="color: red"
          *ngIf="isSubmit && formAddress.get('street').errors"
        >
          Street is required
        </div>
      </div>
      <div>
        <label
          [ngClass]="{ 'is-error': isSubmit && formAddress.get('ward').errors }"
          >
            <span>Ward</span>
            <input
          type="text"
          [ngClass]="{
            'is-invalid': isSubmit && formAddress.get('ward').errors
          }"
          formControlName="ward"
        />
          </label
        >
        
      </div>
      <div>
        <label
          [ngClass]="{
            'is-error': isSubmit && formAddress.get('district').errors
          }"
          >
          <span>District</span>
          <input
          type="text"
          [ngClass]="{
            'is-invalid': isSubmit && formAddress.get('district').errors
          }"
          formControlName="district"
        />
          </label
        >
        
      </div>
      <div>
        <label
          [ngClass]="{
            'is-error': isSubmit && formAddress.get('province').errors
          }"
          >Province
          <input
          type="text"
          [ngClass]="{
            'is-invalid': isSubmit && formAddress.get('province').errors
          }"
          formControlName="province"
        />
          </label
        >
        
      </div>
    </form>
  </div>
</div>
