.main {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

.main-container {
  display: block;
  background-color: #f8f9fa;
}

.main-header {
  padding-left: 3%;
  padding-right: 3%;
  min-height: 72px;
  background-color: #fff;
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  border-bottom: 1px solid #eee;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.content-main {
  padding: 30px 3%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f8f9fa;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.card {
  position: relative;
  box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.075);
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(222, 226, 230, 0.7);
  border-radius: 0.25rem;
}

.card {
  margin-bottom: 24px;
  box-shadow: none;
  border: 1px solid #eee;
  border-radius: 10px;
  transition-duration: 0.3s;
  overflow: hidden;
}

.card-login {
  max-width: 350px;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.3rem 1.3rem;
}

.card-title {
  color: #383e50 !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #141432;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #cfdbe6;
  appearance: none;
  border-radius: 0.25rem;
  box-shadow: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control,
.form-select {
  background-color: #dfe0e6;
  border: 2px solid #f4f5f9;
  font-size: 13px;
  box-shadow: none;
  padding-left: 20px;
  color: #4f5d77;
  width: 100%;
  border-radius: 4px;
  height: 41px;

  &:focus {
    background-color: #f8f9fa;
  }
}

.float-end {
  float: right !important;
}

.font-sm {
  font-size: 13px;
}

.font-xs {
  font-size: 12px;
}

.text-muted {
  color: #adb5bd !important;
}

.text-center {
  text-align: center !important;
}

.form-label {
  font-size: 13px;
}

.form-label {
  margin-bottom: 0.3rem;
  font-weight: 400;
}

.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: 0.125rem;
}

.form-check {
  display: block;
  padding-left: 1.5em;
  margin-bottom: 0;
  min-height: unset;
}

.form-check-input {
  width: 1em;
  height: 1em;
  margin-top: 0.15em;
  vertical-align: top;
  background-color: #f8f9fa;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  // appearance: none;
  print-color-adjust: exact;
  transition: background-color 0.15s ease-in-out, background-position 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
}

.form-check-input[type="checkbox"] {
  border-radius: 0.25em;
}

.form-check-input:checked[type="checkbox"] {
  border: none;
  outline: 2px solid deeppink;


}

// .form-check-label {
//     margin-top: 0.25em;
// }

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #141432;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
  display: inline-flex;
  align-items: center;
  align-content: center;
}

.btn-primary {
  color: #fff;
  background-color: #3167EB;
  border-color: #3167EB;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}

.btn-light {
  background-color: transparent;
  border-color: #c0dbd9;
  box-shadow: none;
  padding: 0.5rem 0.95rem;

  &:hover {
    background-color: #3BB77E;
  }
}

.btn.btn-primary {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 40px;
  color: #ffffff;
  border: none;
  background-color: #3BB77E;
  border-radius: 4px;
  justify-content: center;
}

small,
.small {
  font-size: 0.875em;
  line-height: 1.25;
}

.w-50 {
  width: 50% !important;
}

.w-100 {
  width: 100% !important;
}

.d-grid {
  display: grid !important;
}

.gap-2 {
  gap: 0.5rem !important;
}

.gap-3 {
  gap: 1rem !important;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

.col-4 {
  flex: 0 0 auto;
  width: 30%;
  margin-right: 5px;
}

.col-8 {
  flex: 0 0 auto;
  width: 66%;
}

.g-2,
.gx-2 {
  --bs-gutter-x: 0.5rem;
}

.d-flex {
  display: flex !important;
  // justify-content: space-around;
}

.main-footer {
  bottom: 0;
  padding: 30px 3%;
  position: absolute;
  right: 0;
  width: 100%;
  height: 60px;
}